@{
    Layout = "~/Views/Shared/_My_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from demo-egenslab.b-cdn.net/html/eg-shop-fashion/v3/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 27 Jan 2022 04:42:35 GMT -->
  <head>
    <title>ZH Accessorries</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      href="~/assets/images/favicon.png"
      type="image/png"
      sizes="20x20"
    />

    <link rel="stylesheet" href="~/assets/css/jquery.fancybox.min.css" />

    <link rel="stylesheet" href="~/assets/css/jquery-ui.css" />

    <link rel="stylesheet" href="~/assets/css/swiper.css" />

    <link rel="stylesheet" href="~/assets/font/flaticon.css" />

    <link rel="stylesheet" href="~/assets/css/bootstrap-icons.css" />

    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/assets/css/style.css" />
    <link rel="stylesheet" href="~/assets/css/responsive.css" />
  </head>
  <body>
    <div class="mobil-sidebar d-sm-none">
      <ul class="mobil-sidebar-icons">
        <li class="category-icon">
          <a href="#"><i class="flaticon-menu"></i></a>
        </li>
        <li>
          <a href="dashboard.html"><i class="flaticon-user"></i></a>
        </li>
        <li>
          <a href="#"><i class="flaticon-heart"></i></a>
        </li>
        <li class="cart-icon">
          <a href="cart.html"><i class="flaticon-shopping-cart"></i></a>
          <div class="cart-count"><span>10</span></div>
        </li>
      </ul>
    </div>


    <div class="main-searchbar">
      <div class="searchbar-wrap">
        <div class="container">
          <form action="#" method="POST" class="main-searchbar-form">
            <h5>What are you lookking for?</h5>
            <div class="searchbar-input">
              <div class="input-wrap w-100 position-relative">
                <input
                  type="text"
                  placeholder="Search Products, Category, Brands...."
                />
              </div>
              <div class="search-close"><i class="flaticon-close"></i></div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="cart-sidebar-wrappper">
      <div class="main-cart-sidebar">
        <div class="cart-top">
          <div class="cart-close-icon">
            <i class="flaticon-letter-x"></i>
          </div>
          <ul class="cart-product-grid">
            <li class="single-cart-product">
              <div class="cart-product-info d-flex align-items-center">
                <div class="product-img">
                  <img
                    src="assets/images/product/cart-p1.png"
                    alt=""
                    class="img-fluid"
                  />
                </div>
                <div class="product-info">
                  <a href="product-details.html"
                    ><h5 class="product-title">Men Casual Summer Sale</h5></a
                  >
                  <ul class="product-rating d-flex">
                    <li><i class="bi bi-star-fill"></i></li>
                    <li><i class="bi bi-star-fill"></i></li>
                    <li><i class="bi bi-star-fill"></i></li>
                    <li><i class="bi bi-star-fill"></i></li>
                    <li><i class="bi bi-star"></i></li>
                  </ul>
                  <p class="product-price">
                    <span>1</span>x <span class="p-price">$10.32</span>
                  </p>
                </div>
              </div>
              <div class="cart-product-delete-btn">
                <a href="javascript:void(0)"
                  ><i class="flaticon-letter-x"></i
                ></a>
              </div>
            </li>
            <li class="single-cart-product">
              <div class="cart-product-info d-flex align-items-center">
                <div class="product-img">
                  <img
                    src="assets/images/product/cart-p3.png"
                    alt=""
                    class="img-fluid"
                  />
                </div>
                <div class="product-info">
                  <a href="product-details.html"
                    ><h5 class="product-title">Something Yellow Jens</h5></a
                  >
                  <ul class="product-rating d-flex">
                    <li><i class="bi bi-star-fill"></i></li>
                    <li><i class="bi bi-star-fill"></i></li>
                    <li><i class="bi bi-star-fill"></i></li>
                    <li><i class="bi bi-star-fill"></i></li>
                    <li><i class="bi bi-star"></i></li>
                  </ul>
                  <p class="product-price">
                    <span>1</span>x <span class="p-price">$10.32</span>
                  </p>
                </div>
              </div>
              <div class="cart-product-delete-btn">
                <a href="javascript:void(0)"
                  ><i class="flaticon-letter-x"></i
                ></a>
              </div>
            </li>
            <li class="single-cart-product">
              <div class="cart-product-info d-flex align-items-center">
                <div class="product-img">
                  <img
                    src="assets/images/product/cart-p2.png"
                    alt=""
                    class="img-fluid"
                  />
                </div>
                <div class="product-info">
                  <a href="product-details.html"
                    ><h5 class="product-title">Woman Something Navy Top</h5></a
                  >
                  <ul class="product-rating d-flex">
                    <li><i class="bi bi-star-fill"></i></li>
                    <li><i class="bi bi-star-fill"></i></li>
                    <li><i class="bi bi-star-fill"></i></li>
                    <li><i class="bi bi-star-fill"></i></li>
                    <li><i class="bi bi-star"></i></li>
                  </ul>
                  <p class="product-price">
                    <span>1</span>x <span class="p-price">$10.32</span>
                  </p>
                </div>
              </div>
              <div class="cart-product-delete-btn">
                <a href="javascript:void(0)"
                  ><i class="flaticon-letter-x"></i
                ></a>
              </div>
            </li>
          </ul>
        </div>
        <div class="cart-bottom">
          <div class="cart-total d-flex justify-content-between">
            <label>Subtotal :</label>
            <span>$64.08</span>
          </div>
          <div class="cart-btns">
            <a href="checkout.html" class="cart-btn checkout">CHECKOUT</a>
            <a href="cart.html" class="cart-btn cart">VIEW CART</a>
          </div>
          <p class="cart-shipping-text">
            <strong>SHIPPING:</strong> Continue shopping up to $64.08 and
            receive free shipping. stay with EG
          </p>
        </div>
      </div>
    </div>



    <div class="hero-area position-relative">
      <div class="swiper-container hero-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide hero-slide-item">
            <div class="container">
              <div class="row d-flex align-items-center">
                <div class="col-lg-6">
                  <div class="slide-item-content">
                    <h5>Get Up to 30%OFF</h5>
                    <h2 class="slide-item-title">
                      Unlock Your Style With EG FASHION
                    </h2>
                    <p>
                      Various versions have evolved over the years, sometimes by
                      acciden some times on purpose words which.
                    </p>
                    <div class="slide-item-btn">
                      <a href="product.html" class="primary-btn-xl">Shop Now</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="slide-item-figure d-flex justify-content-lg-end">
                    <img
                      src="assets/images/hero/banner-figure11.png"
                      alt=""
                      class="img-fluid figure"
                    />
                    <div class="florting-figure">
                      <img
                        src="assets/images/hero/florting-figure-1.png"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide hero-slide-item">
            <div class="container">
              <div class="row d-flex align-items-center">
                <div class="col-lg-6">
                  <div class="slide-item-content">
                    <h5>Get Up to 30%OFF</h5>
                    <h2 class="slide-item-title">
                      Unlock Your Style With EG FASHION
                    </h2>
                    <p>
                      Various versions have evolved over the years, sometimes by
                      acciden some times on purpose words which.
                    </p>
                    <div class="slide-item-btn">
                      <a href="product.html" class="primary-btn-xl">Shop Now</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="slide-item-figure d-flex justify-content-lg-end">
                    <img
                      src="assets/images/hero/banner-figure22.png"
                      alt=""
                      class="img-fluid figure"
                    />
                    <div class="florting-figure">
                      <img
                        src="assets/images/hero/florting-figure-2.png"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-btns">
        <div
          class="swiper-button-next"
          tabindex="0"
          role="button"
          aria-label="Next slide"
        >
          <i class="flaticon-right-arrow-2"></i>
        </div>
        <div
          class="swiper-button-prev"
          tabindex="0"
          role="button"
          aria-label="Previous slide"
        >
          <i class="flaticon-left-arrow"></i>
        </div>
      </div>
    </div>

    <div class="banner-md-area">
      <div class="container-fluid p-0">
        <div class="banner-grid">
          <div class="single-grid single-grid1 pl-0">
            <div class="single-banner-md single-banner-md1 h-100">
              <a href="product.html"
                ><img src="assets/images/banner/banner-md1.png" alt=""
              /></a>
              <div class="banner-overlay end-0">
                <div class="banner-content text-end">
                  <h4>
                    Smart Watch <br />
                    Collection
                  </h4>
                  <div class="banner-btn">
                    <a href="product.html">Shop Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="single-grid single-grid1 pl-0">
            <div class="single-banner-md single-banner-md1 h-100">
              <a href="product.html"
                ><img src="assets/images/banner/banner-md1.png" alt=""
              /></a>
              <div class="banner-overlay end-0">
                <div class="banner-content text-end">
                  <h4>
                    Smart Watch <br />
                    Collection
                  </h4>
                  <div class="banner-btn">
                    <a href="product.html">Shop Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="single-grid single-grid2">
            <div class="single-banner-md single-banner-md2 h-100">
              <a href="product.html"
                ><img src="assets/images/banner/banner-md2.png" alt=""
              /></a>
              <div class="banner-overlay2 justify-content-center">
                <div class="banner-content text-center">
                  <h4>
                    Woman’s Summer <br />
                    Sale is Here
                  </h4>
                  <div class="banner-btn">
                    <a href="product.html">Shop Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="single-grid single-grid3 pr-0">
            <div class="single-banner-md single-banner-md3 h-100">
              <a href="product.html"
                ><img src="assets/images/banner/banner-md3.png" alt=""
              /></a>
              <div class="banner-overlay">
                <div class="banner-content">
                  <h4>
                    Short T-Shirt for <br />
                    Woman
                  </h4>
                  <div class="banner-btn">
                    <a href="product.html">Shop Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="feature-area mt-96">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="feature-card">
              <div class="feature-vactor position-absolute">
                <img
                  src="assets/images/shapes/feature-line-vactor.png"
                  alt=""
                />
              </div>
              <div class="feature-icon">
                <i class="flaticon-delivery"></i>
              </div>
              <h5>Fast Free Shipping</h5>
              <p>Around the world</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="feature-card">
              <div class="feature-vactor position-absolute">
                <img
                  src="assets/images/shapes/feature-line-vactor.png"
                  alt=""
                />
              </div>
              <div class="feature-icon">
                <i class="flaticon-headphones"></i>
              </div>
              <h5>24/7 Supports</h5>
              <p>Contact us 24 hours</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="feature-card">
              <div class="feature-vactor position-absolute">
                <img
                  src="assets/images/shapes/feature-line-vactor.png"
                  alt=""
                />
              </div>
              <div class="feature-icon">
                <i class="flaticon-money-1"></i>
              </div>
              <h5>100% Money Back</h5>
              <p>Guarantee of money retun</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="feature-card">
              <div class="feature-vactor position-absolute">
                <img
                  src="assets/images/shapes/feature-line-vactor.png"
                  alt=""
                />
              </div>
              <div class="feature-icon">
                <i class="flaticon-credit-card"></i>
              </div>
              <h5>100% Secure Payment</h5>
              <p>Your payments are safe.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="product-area mt-110">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title">
              <h2>NEW PRODUCTS</h2>
              <p>Exclusive products have just arrived. Check them out</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="product-tab-buttons">
              <ul
                class="nav nav-pills justify-content-center"
                id="pills-tab"
                role="tablist"
              >
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link active"
                    id="pills-home-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-home"
                    type="button"
                    role="tab"
                    aria-controls="pills-home"
                    aria-selected="true"
                  >
                    New Trendy
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="pills-profile-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-profile"
                    type="button"
                    role="tab"
                    aria-controls="pills-profile"
                    aria-selected="false"
                  >
                    New Arrival
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="pills-contact-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-contact"
                    type="button"
                    role="tab"
                    aria-controls="pills-contact"
                    aria-selected="false"
                  >
                    Best Seller
                  </button>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="tab-content product-tab" id="pills-tabContent">
              <div
                class="tab-pane fade show active"
                id="pills-home"
                role="tabpanel"
                aria-labelledby="pills-home-tab"
              >
                <div class="row">
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="product-card-m">
                      <div class="product-thumb">
                        <a href="product-details.html">
                          <img src="assets/images/product/p-md1.png" alt="" />
                        </a>
                        <div class="product-lavels">
                          <span class="sale">sale</span>
                        </div>
                        <div class="add-product">
                          <a href="product-details.html"
                            ><i class="flaticon-plus"></i
                          ></a>
                        </div>
                        <div class="color-option">
                          <input
                            type="radio"
                            name="color"
                            id="color1"
                            value="red"
                            checked=""
                          />
                          <label for="color1"
                            ><span class="c1 p-color"></span
                          ></label>
                          <input
                            type="radio"
                            name="color"
                            id="color2"
                            value="red"
                          />
                          <label for="color2"
                            ><span class="c2 p-color"></span
                          ></label>
                          <input
                            type="radio"
                            name="color"
                            id="color4"
                            value="red"
                          />
                          <label for="color4"
                            ><span class="c4 p-color"></span
                          ></label>
                        </div>
                      </div>
                      <div class="product-body">
                        <h5 class="product-title">
                          <a href="product-details.html"
                            >Atom-SL-Hoody-Elysium-Front</a
                          >
                        </h5>
                        <div class="product-price">
                          <del class="old-price">$32.74</del
                          ><ins class="new-price">$29.05</ins>
                        </div>
                        <div class="product-actions">
                          <a href="#"><i class="flaticon-heart"></i></a>
                          <a href="product-details.html"
                            ><i class="flaticon-search"></i
                          ></a>
                          <a href="cart.html"
                            ><i class="flaticon-shopping-cart"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="product-card-m">
                      <div class="product-thumb">
                        <a href="product-details.html">
                          <img src="assets/images/product/p-md2.png" alt="" />
                        </a>
                        <div class="product-lavels"></div>
                        <div class="add-product">
                          <a href="product-details.html"
                            ><i class="flaticon-plus"></i
                          ></a>
                        </div>
                      </div>
                      <div class="product-body">
                        <h5 class="product-title">
                          <a href="product-details.html"
                            >Alroy-Short-7-Women-s-Fortune</a
                          >
                        </h5>
                        <div class="product-price">
                          <ins class="new-price">$20.05</ins>
                        </div>
                        <div class="product-actions">
                          <a href="#"><i class="flaticon-heart"></i></a>
                          <a href="product-details.html"
                            ><i class="flaticon-search"></i
                          ></a>
                          <a href="cart.html"
                            ><i class="flaticon-shopping-cart"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="product-card-m">
                      <div class="product-thumb">
                        <a href="product-details.html">
                          <img src="assets/images/product/p-md3.png" alt="" />
                        </a>
                        <div class="product-lavels"></div>
                        <div class="add-product">
                          <a href="product-details.html"
                            ><i class="flaticon-plus"></i
                          ></a>
                        </div>
                        <div class="color-option"></div>
                      </div>
                      <div class="product-body">
                        <h5 class="product-title">
                          <a href="product-details.html"
                            >Beta-LT-Jacket-Phantasm-Front</a
                          >
                        </h5>
                        <div class="product-price">
                          <ins class="new-price">$87.05</ins>
                        </div>
                        <div class="product-actions">
                          <a href="#"><i class="flaticon-heart"></i></a>
                          <a href="product-details.html"
                            ><i class="flaticon-search"></i
                          ></a>
                          <a href="cart.html"
                            ><i class="flaticon-shopping-cart"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="product-card-m">
                      <div class="product-thumb">
                        <a href="product-details.html">
                          <img src="assets/images/product/p-md4.png" alt="" />
                        </a>
                        <div class="product-lavels">
                          <span class="discount">-10%</span>
                        </div>
                        <div class="add-product">
                          <a href="product-details.html"
                            ><i class="flaticon-plus"></i
                          ></a>
                        </div>
                        <div class="color-option"></div>
                      </div>
                      <div class="product-body">
                        <h5 class="product-title">
                          <a href="product-details.html"
                            >Womens Vintage Straight Deni</a
                          >
                        </h5>
                        <div class="product-price">
                          <ins class="new-price">$190.05</ins>
                        </div>
                        <div class="product-actions">
                          <a href="#"><i class="flaticon-heart"></i></a>
                          <a href="product-details.html"
                            ><i class="flaticon-search"></i
                          ></a>
                          <a href="cart.html"
                            ><i class="flaticon-shopping-cart"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="product-card-m">
                      <div class="product-thumb">
                        <a href="product-details.html">
                          <img src="assets/images/product/p-md5.png" alt="" />
                        </a>
                        <div class="product-lavels"></div>
                        <div class="add-product">
                          <a href="product-details.html"
                            ><i class="flaticon-plus"></i
                          ></a>
                        </div>
                        <div class="color-option"></div>
                      </div>
                      <div class="product-body">
                        <h5 class="product-title">
                          <a href="product-details.html"
                            >Konseal-Pant-Black-Back</a
                          >
                        </h5>
                        <div class="product-price">
                          <del class="old-price">$32.74</del
                          ><ins class="new-price">$29.05</ins>
                        </div>
                        <div class="product-actions">
                          <a href="#"><i class="flaticon-heart"></i></a>
                          <a href="product-details.html"
                            ><i class="flaticon-search"></i
                          ></a>
                          <a href="cart.html"
                            ><i class="flaticon-shopping-cart"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="product-card-m">
                      <div class="product-thumb">
                        <a href="product-details.html">
                          <img src="assets/images/product/p-md6.png" alt="" />
                        </a>
                        <div class="product-lavels">
                          <span class="sale">sale</span>
                        </div>
                        <div class="add-product">
                          <a href="product-details.html"
                            ><i class="flaticon-plus"></i
                          ></a>
                        </div>
                      </div>
                      <div class="product-body">
                        <h5 class="product-title">
                          <a href="product-details.html"
                            >Atom-SL-Hoody-Elysium-Front</a
                          >
                        </h5>
                        <div class="product-price">
                          <ins class="new-price">$20.05</ins>
                        </div>
                        <div class="product-actions">
                          <a href="#"><i class="flaticon-heart"></i></a>
                          <a href="product-details.html"
                            ><i class="flaticon-search"></i
                          ></a>
                          <a href="cart.html"
                            ><i class="flaticon-shopping-cart"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="product-card-m">
                      <div class="product-thumb">
                        <a href="product-details.html">
                          <img src="assets/images/product/p-md7.png" alt="" />
                        </a>
                        <div class="product-lavels"></div>
                        <div class="add-product">
                          <a href="product-details.html"
                            ><i class="flaticon-plus"></i
                          ></a>
                        </div>
                        <div class="color-option"></div>
                      </div>
                      <div class="product-body">
                        <h5 class="product-title">
                          <a href="product-details.html"
                            >Motus-AR-Hoody-Women</a
                          >
                        </h5>
                        <div class="product-price">
                          <ins class="new-price">$87.05</ins>
                        </div>
                        <div class="product-actions">
                          <a href="#"><i class="flaticon-heart"></i></a>
                          <a href="product-details.html"
                            ><i class="flaticon-search"></i
                          ></a>
                          <a href="cart.html"
                            ><i class="flaticon-shopping-cart"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="product-card-m">
                      <div class="product-thumb">
                        <a href="product-details.html">
                          <img src="assets/images/product/p-md8.png" alt="" />
                        </a>
                        <div class="product-lavels">
                          <span class="discount">-15%</span>
                        </div>
                        <div class="add-product">
                          <a href="product-details.html"
                            ><i class="flaticon-plus"></i
                          ></a>
                        </div>
                        <div class="color-option"></div>
                      </div>
                      <div class="product-body">
                        <h5 class="product-title">
                          <a href="product-details.html"
                            >Remige-Shirt-LS-Cryptochrome</a
                          >
                        </h5>
                        <div class="product-price">
                          <ins class="new-price">$190.05</ins>
                        </div>
                        <div class="product-actions">
                          <a href="#"><i class="flaticon-heart"></i></a>
                          <a href="product-details.html"
                            ><i class="flaticon-search"></i
                          ></a>
                          <a href="cart.html"
                            ><i class="flaticon-shopping-cart"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="pills-profile"
                role="tabpanel"
                aria-labelledby="pills-profile-tab"
              >
                <div class="row">
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="product-card-m">
                      <div class="product-thumb">
                        <a href="product-details.html">
                          <img src="assets/images/product/p-md1.png" alt="" />
                        </a>
                        <div class="product-lavels">
                          <span class="sale">sale</span>
                        </div>
                        <div class="add-product">
                          <a href="product-details.html"
                            ><i class="flaticon-plus"></i
                          ></a>
                        </div>
                        <div class="color-option"></div>
                      </div>
                      <div class="product-body">
                        <h5 class="product-title">
                          <a href="product-details.html"
                            >Atom-SL-Hoody-Elysium-Front</a
                          >
                        </h5>
                        <div class="product-price">
                          <del class="old-price">$32.74</del
                          ><ins class="new-price">$29.05</ins>
                        </div>
                        <div class="product-actions">
                          <a href="#"><i class="flaticon-heart"></i></a>
                          <a href="product-details.html"
                            ><i class="flaticon-search"></i
                          ></a>
                          <a href="cart.html"
                            ><i class="flaticon-shopping-cart"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="product-card-m">
                      <div class="product-thumb">
                        <a href="product-details.html">
                          <img src="assets/images/product/p-md2.png" alt="" />
                        </a>
                        <div class="product-lavels"></div>
                        <div class="add-product">
                          <a href="product-details.html"
                            ><i class="flaticon-plus"></i
                          ></a>
                        </div>
                      </div>
                      <div class="product-body">
                        <h5 class="product-title">
                          <a href="product-details.html"
                            >Alroy-Short-7-Women-s-Fortune</a
                          >
                        </h5>
                        <div class="product-price">
                          <ins class="new-price">$20.05</ins>
                        </div>
                        <div class="product-actions">
                          <a href="#"><i class="flaticon-heart"></i></a>
                          <a href="product-details.html"
                            ><i class="flaticon-search"></i
                          ></a>
                          <a href="cart.html"
                            ><i class="flaticon-shopping-cart"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="product-card-m">
                      <div class="product-thumb">
                        <a href="product-details.html">
                          <img src="assets/images/product/p-md3.png" alt="" />
                        </a>
                        <div class="product-lavels"></div>
                        <div class="add-product">
                          <a href="product-details.html"
                            ><i class="flaticon-plus"></i
                          ></a>
                        </div>
                        <div class="color-option"></div>
                      </div>
                      <div class="product-body">
                        <h5 class="product-title">
                          <a href="product-details.html"
                            >Beta-LT-Jacket-Phantasm-Front</a
                          >
                        </h5>
                        <div class="product-price">
                          <ins class="new-price">$87.05</ins>
                        </div>
                        <div class="product-actions">
                          <a href="#"><i class="flaticon-heart"></i></a>
                          <a href="product-details.html"
                            ><i class="flaticon-search"></i
                          ></a>
                          <a href="cart.html"
                            ><i class="flaticon-shopping-cart"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="product-card-m">
                      <div class="product-thumb">
                        <a href="product-details.html">
                          <img src="assets/images/product/p-md4.png" alt="" />
                        </a>
                        <div class="product-lavels">
                          <span class="discount">-10%</span>
                        </div>
                        <div class="add-product">
                          <a href="product-details.html"
                            ><i class="flaticon-plus"></i
                          ></a>
                        </div>
                        <div class="color-option"></div>
                      </div>
                      <div class="product-body">
                        <h5 class="product-title">
                          <a href="product-details.html"
                            >Womens Vintage Straight Deni</a
                          >
                        </h5>
                        <div class="product-price">
                          <ins class="new-price">$190.05</ins>
                        </div>
                        <div class="product-actions">
                          <a href="#"><i class="flaticon-heart"></i></a>
                          <a href="product-details.html"
                            ><i class="flaticon-search"></i
                          ></a>
                          <a href="cart.html"
                            ><i class="flaticon-shopping-cart"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="product-card-m">
                      <div class="product-thumb">
                        <a href="product-details.html">
                          <img src="assets/images/product/p-md5.png" alt="" />
                        </a>
                        <div class="product-lavels"></div>
                        <div class="add-product">
                          <a href="product-details.html"
                            ><i class="flaticon-plus"></i
                          ></a>
                        </div>
                        <div class="color-option"></div>
                      </div>
                      <div class="product-body">
                        <h5 class="product-title">
                          <a href="product-details.html"
                            >Konseal-Pant-Black-Back</a
                          >
                        </h5>
                        <div class="product-price">
                          <del class="old-price">$32.74</del
                          ><ins class="new-price">$29.05</ins>
                        </div>
                        <div class="product-actions">
                          <a href="#"><i class="flaticon-heart"></i></a>
                          <a href="product-details.html"
                            ><i class="flaticon-search"></i
                          ></a>
                          <a href="cart.html"
                            ><i class="flaticon-shopping-cart"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="product-card-m">
                      <div class="product-thumb">
                        <a href="product-details.html">
                          <img src="assets/images/product/p-md6.png" alt="" />
                        </a>
                        <div class="product-lavels">
                          <span class="sale">sale</span>
                        </div>
                        <div class="add-product">
                          <a href="product-details.html"
                            ><i class="flaticon-plus"></i
                          ></a>
                        </div>
                      </div>
                      <div class="product-body">
                        <h5 class="product-title">
                          <a href="product-details.html"
                            >Atom-SL-Hoody-Elysium-Front</a
                          >
                        </h5>
                        <div class="product-price">
                          <ins class="new-price">$20.05</ins>
                        </div>
                        <div class="product-actions">
                          <a href="#"><i class="flaticon-heart"></i></a>
                          <a href="product-details.html"
                            ><i class="flaticon-search"></i
                          ></a>
                          <a href="cart.html"
                            ><i class="flaticon-shopping-cart"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="pills-contact"
                role="tabpanel"
                aria-labelledby="pills-contact-tab"
              >
                <div class="row">
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="product-card-m">
                      <div class="product-thumb">
                        <a href="product-details.html">
                          <img src="assets/images/product/p-md1.png" alt="" />
                        </a>
                        <div class="product-lavels">
                          <span class="sale">sale</span>
                        </div>
                        <div class="add-product">
                          <a href="product-details.html"
                            ><i class="flaticon-plus"></i
                          ></a>
                        </div>
                        <div class="color-option"></div>
                      </div>
                      <div class="product-body">
                        <h5 class="product-title">
                          <a href="product-details.html"
                            >Atom-SL-Hoody-Elysium-Front</a
                          >
                        </h5>
                        <div class="product-price">
                          <del class="old-price">$32.74</del
                          ><ins class="new-price">$29.05</ins>
                        </div>
                        <div class="product-actions">
                          <a href="#"><i class="flaticon-heart"></i></a>
                          <a href="product-details.html"
                            ><i class="flaticon-search"></i
                          ></a>
                          <a href="cart.html"
                            ><i class="flaticon-shopping-cart"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="product-card-m">
                      <div class="product-thumb">
                        <a href="product-details.html">
                          <img src="assets/images/product/p-md2.png" alt="" />
                        </a>
                        <div class="product-lavels"></div>
                        <div class="add-product">
                          <a href="product-details.html"
                            ><i class="flaticon-plus"></i
                          ></a>
                        </div>
                      </div>
                      <div class="product-body">
                        <h5 class="product-title">
                          <a href="product-details.html"
                            >Alroy-Short-7-Women-s-Fortune</a
                          >
                        </h5>
                        <div class="product-price">
                          <ins class="new-price">$20.05</ins>
                        </div>
                        <div class="product-actions">
                          <a href="#"><i class="flaticon-heart"></i></a>
                          <a href="product-details.html"
                            ><i class="flaticon-search"></i
                          ></a>
                          <a href="cart.html"
                            ><i class="flaticon-shopping-cart"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="product-card-m">
                      <div class="product-thumb">
                        <a href="product-details.html">
                          <img src="assets/images/product/p-md3.png" alt="" />
                        </a>
                        <div class="product-lavels"></div>
                        <div class="add-product">
                          <a href="product-details.html"
                            ><i class="flaticon-plus"></i
                          ></a>
                        </div>
                        <div class="color-option"></div>
                      </div>
                      <div class="product-body">
                        <h5 class="product-title">
                          <a href="product-details.html"
                            >Beta-LT-Jacket-Phantasm-Front</a
                          >
                        </h5>
                        <div class="product-price">
                          <ins class="new-price">$87.05</ins>
                        </div>
                        <div class="product-actions">
                          <a href="#"><i class="flaticon-heart"></i></a>
                          <a href="product-details.html"
                            ><i class="flaticon-search"></i
                          ></a>
                          <a href="cart.html"
                            ><i class="flaticon-shopping-cart"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="product-card-m">
                      <div class="product-thumb">
                        <a href="product-details.html">
                          <img src="assets/images/product/p-md4.png" alt="" />
                        </a>
                        <div class="product-lavels">
                          <span class="discount">-10%</span>
                        </div>
                        <div class="add-product">
                          <a href="product-details.html"
                            ><i class="flaticon-plus"></i
                          ></a>
                        </div>
                        <div class="color-option"></div>
                      </div>
                      <div class="product-body">
                        <h5 class="product-title">
                          <a href="product-details.html"
                            >Womens Vintage Straight Deni</a
                          >
                        </h5>
                        <div class="product-price">
                          <ins class="new-price">$190.05</ins>
                        </div>
                        <div class="product-actions">
                          <a href="#"><i class="flaticon-heart"></i></a>
                          <a href="product-details.html"
                            ><i class="flaticon-search"></i
                          ></a>
                          <a href="cart.html"
                            ><i class="flaticon-shopping-cart"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="product-card-m">
                      <div class="product-thumb">
                        <a href="product-details.html">
                          <img src="assets/images/product/p-md5.png" alt="" />
                        </a>
                        <div class="product-lavels"></div>
                        <div class="add-product">
                          <a href="product-details.html"
                            ><i class="flaticon-plus"></i
                          ></a>
                        </div>
                        <div class="color-option"></div>
                      </div>
                      <div class="product-body">
                        <h5 class="product-title">
                          <a href="product-details.html"
                            >Konseal-Pant-Black-Back</a
                          >
                        </h5>
                        <div class="product-price">
                          <del class="old-price">$32.74</del
                          ><ins class="new-price">$29.05</ins>
                        </div>
                        <div class="product-actions">
                          <a href="#"><i class="flaticon-heart"></i></a>
                          <a href="product-details.html"
                            ><i class="flaticon-search"></i
                          ></a>
                          <a href="cart.html"
                            ><i class="flaticon-shopping-cart"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="product-card-m">
                      <div class="product-thumb">
                        <a href="product-details.html">
                          <img src="assets/images/product/p-md6.png" alt="" />
                        </a>
                        <div class="product-lavels">
                          <span class="sale">sale</span>
                        </div>
                        <div class="add-product">
                          <a href="product-details.html"
                            ><i class="flaticon-plus"></i
                          ></a>
                        </div>
                      </div>
                      <div class="product-body">
                        <h5 class="product-title">
                          <a href="product-details.html"
                            >Atom-SL-Hoody-Elysium-Front</a
                          >
                        </h5>
                        <div class="product-price">
                          <ins class="new-price">$20.05</ins>
                        </div>
                        <div class="product-actions">
                          <a href="#"><i class="flaticon-heart"></i></a>
                          <a href="product-details.html"
                            ><i class="flaticon-search"></i
                          ></a>
                          <a href="cart.html"
                            ><i class="flaticon-shopping-cart"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="product-card-m">
                      <div class="product-thumb">
                        <a href="product-details.html">
                          <img src="assets/images/product/p-md7.png" alt="" />
                        </a>
                        <div class="product-lavels"></div>
                        <div class="add-product">
                          <a href="product-details.html"
                            ><i class="flaticon-plus"></i
                          ></a>
                        </div>
                        <div class="color-option"></div>
                      </div>
                      <div class="product-body">
                        <h5 class="product-title">
                          <a href="product-details.html"
                            >Motus-AR-Hoody-Women</a
                          >
                        </h5>
                        <div class="product-price">
                          <ins class="new-price">$87.05</ins>
                        </div>
                        <div class="product-actions">
                          <a href="#"><i class="flaticon-heart"></i></a>
                          <a href="product-details.html"
                            ><i class="flaticon-search"></i
                          ></a>
                          <a href="cart.html"
                            ><i class="flaticon-shopping-cart"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="wide-banner-area mt-120">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="offer-container swiper-container position-relative">
              <div class="swiper-wrapper">
                <div class="single-offer swiper-slide">
                  <h5>New Season Only $50</h5>
                  <h2>Exclusive Collection For Women’s</h2>
                  <div class="offer-countdown" id="timer">
                    <div class="countdown-box">
                      <h3 id="days">...</h3>
                      <h5>DAYS</h5>
                    </div>
                    <div class="countdown-box">
                      <h3 id="hours">...</h3>
                      <h5>HOURS</h5>
                    </div>
                    <div class="countdown-box">
                      <h3 id="minutes">...</h3>
                      <h5>MINS</h5>
                    </div>
                    <div class="countdown-box">
                      <h3 id="seconds">...</h3>
                      <h5>SECS</h5>
                    </div>
                  </div>
                  <div class="offer-details-btn">
                    <a href="product.html" class="primary-btn-l"
                      >View Details</a
                    >
                  </div>
                </div>
                <div class="single-offer swiper-slide">
                  <h5>New Season Only $50</h5>
                  <h2>Exclusive Collection For Kid's</h2>
                  <div class="offer-countdown">
                    <div class="countdown-box">
                      <h3>50</h3>
                      <h5>DAYS</h5>
                    </div>
                    <div class="countdown-box">
                      <h3>25</h3>
                      <h5>HOURS</h5>
                    </div>
                    <div class="countdown-box">
                      <h3>40</h3>
                      <h5>MINS</h5>
                    </div>
                    <div class="countdown-box">
                      <h3>30</h3>
                      <h5>SECS</h5>
                    </div>
                  </div>
                  <div class="offer-details-btn">
                    <a href="product.html" class="primary-btn-l"
                      >View Details</a
                    >
                  </div>
                </div>
              </div>

              <div class="offer-btns">
                <div
                  class="swiper-button-next"
                  tabindex="0"
                  role="button"
                  aria-label="Next slide"
                >
                  <i class="flaticon-left-arrow"></i>
                </div>
                <div
                  class="swiper-button-prev"
                  tabindex="0"
                  role="button"
                  aria-label="Previous slide"
                >
                  <i class="flaticon-right-arrow-2"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="blog-area-start mt-110">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title">
              <h2>LATEST NEWS !</h2>
              <p>Exclusive products have just arrived. Check them out</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="blog-card">
              <div class="blog-thumb">
                <a href="blog-details.html"
                  ><img src="assets/images/blog/b-1.png" alt=""
                /></a>
                <div class="blog-actions">
                  <a href="#"><i class="flaticon-share"></i></a>
                </div>
              </div>
              <div class="blog-content">
                <div class="blog-top">
                  <div class="blog-tags">
                    <a href="#">Fashion Style</a>
                  </div>
                  <div class="fav-icon"><i class="flaticon-heart"></i></div>
                </div>
                <h3 class="blog-title">
                  <a href="blog-details.html"
                    >11 Outfit Trends we Spotted All over Street style</a
                  >
                </h3>
                <div class="blog-bottom">
                  <div class="blog-writer-link">
                    <i class="flaticon-user"></i>
                    <a href="#">Johan Martin <span>-8th Jan 2021</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="blog-card">
              <div class="blog-thumb">
                <a href="blog-details.html"
                  ><img src="assets/images/blog/b-2.png" alt=""
                /></a>
                <div class="blog-actions">
                  <a href="#"><i class="flaticon-share"></i></a>
                </div>
              </div>
              <div class="blog-content">
                <div class="blog-top">
                  <div class="blog-tags">
                    <a href="#">Life Style</a>
                  </div>
                  <div class="fav-icon"><i class="flaticon-heart"></i></div>
                </div>
                <h3 class="blog-title">
                  <a href="blog-details.html"
                    >Finding a catchy fashion blog name isn’t exactly an.</a
                  >
                </h3>
                <div class="blog-bottom">
                  <div class="blog-writer-link">
                    <i class="flaticon-user"></i>
                    <a href="#">Johan Martin <span>-8th Jan 2021</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="blog-card">
              <div class="blog-thumb">
                <a href="blog-details.html"
                  ><img src="assets/images/blog/b-3.png" alt=""
                /></a>
                <div class="blog-actions">
                  <a href="#"><i class="flaticon-share"></i></a>
                </div>
              </div>
              <div class="blog-content">
                <div class="blog-top">
                  <div class="blog-tags">
                    <a href="#">Fashion Diary</a>
                  </div>
                  <div class="fav-icon"><i class="flaticon-heart"></i></div>
                </div>
                <h3 class="blog-title">
                  <a href="blog-details.html"
                    >Coming up with catchy blog name can be a challenge,</a
                  >
                </h3>
                <div class="blog-bottom">
                  <div class="blog-writer-link">
                    <i class="flaticon-user"></i>
                    <a href="#">Johan Martin <span>-8th Jan 2021</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="sponsor-logo-area mt-120">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-2 col-md-2 col-sm-3 col-6">
            <div class="single-logo">
              <a href="#"><i class="flaticon-symbols-3"></i></a>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-6">
            <div class="single-logo">
              <a href="#"
                ><i
                  class="flaticon-massachusetts-institute-of-technology-logotype"
                ></i
              ></a>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-6">
            <div class="single-logo">
              <a href="#"><i class="flaticon-my-life-social-logo"></i></a>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-6">
            <div class="single-logo">
              <a href="#"><i class="flaticon-stanford-university-logo"></i></a>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-6">
            <div class="single-logo">
              <a href="#"
                ><i class="flaticon-club-dante-social-logotype"></i
              ></a>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-6">
            <div class="single-logo">
              <a href="#"><i class="flaticon-funny-or-die-logo"></i></a>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-6">
            <div class="single-logo">
              <a href="#"><i class="flaticon-tuenti-social-logo"></i></a>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-6">
            <div class="single-logo">
              <a href="#"><i class="flaticon-ning-social-logo"></i></a>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-6">
            <div class="single-logo">
              <a href="#"><i class="flaticon-gather-logo"></i></a>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-6">
            <div class="single-logo">
              <a href="#"><i class="flaticon-inside-the-hotel-logotype"></i></a>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-6">
            <div class="single-logo">
              <a href="#"><i class="flaticon-virus-total-text-logo"></i></a>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-6">
            <div class="single-logo">
              <a href="#"><i class="flaticon-blogbus-logo"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="banner-grid mt-70">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title">
              <h2>TOP SALE THIS WEEK</h2>
              <p>Exclusive products have just arrived. Check them out</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 mt-24">
            <div class="single-banner-grid">
              <a href="product.html"
                ><img src="assets/images/banner/ban-xxl.png" alt=""
              /></a>
              <div class="banner-grid-overlay">
                <div class="banner-grid-content">
                  <h4>Pink Collection Woman’s <br />Shoes 2021</h4>
                  <div class="banner-grid-btn">
                    <a href="product.html">View All</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="row h-50">
              <div class="col-lg-8 col-md-7 mt-24">
                <div class="single-banner-grid">
                  <a href="product.html"
                    ><img src="assets/images/banner/ban-m.png" alt=""
                  /></a>
                  <div class="banner-grid-overlay">
                    <div class="banner-grid-content">
                      <h4>
                        Warmly Heart Feet Lovely<br />
                        Watch 2021
                      </h4>
                      <div class="banner-grid-btn">
                        <a href="product.html">View All</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-5 mt-24">
                <div class="single-banner-grid">
                  <a href="product.html"
                    ><img src="assets/images/banner/ban-sm.png" alt=""
                  /></a>
                  <div class="banner-grid-overlay2">
                    <div class="banner-grid-content">
                      <h4>Heart Lovely Diamond</h4>
                      <div class="banner-grid-btn">
                        <a href="product.html">View All</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row h-50">
              <div class="col-lg-4 col-md-5 mt-24">
                <div class="single-banner-grid">
                  <a href="product.html"
                    ><img src="assets/images/banner/ban-sm2.png" alt=""
                  /></a>
                  <div class="banner-grid-overlay2">
                    <div class="banner-grid-content">
                      <h4>Summer Urban Dress</h4>
                      <div class="banner-grid-btn">
                        <a href="product.html">View All</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-8 col-md-7 mt-24">
                <div class="single-banner-grid">
                  <a href="product.html"
                    ><img src="assets/images/banner/ban-m2.png" alt=""
                  /></a>
                  <div class="banner-grid-overlay">
                    <div class="banner-grid-content">
                      <h4>Men’s Casual <br />Summer Sale 2021</h4>
                      <div class="banner-grid-btn">
                        <a href="product.html">View All</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    
  </body>

  <!-- Mirrored from demo-egenslab.b-cdn.net/html/eg-shop-fashion/v3/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 27 Jan 2022 04:43:40 GMT -->
</html>
